@import "style.css";

.header {
    -fx-text-fill: -fx-text-primary;
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}

.subheader {
    -fx-text-fill: -fx-text-secondary;
    -fx-font-size: 16;
    -fx-font-weight: normal;
}

.primary-button {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: -fx-bg-primary;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
    -fx-padding: 15 40 15 40;
}

.primary-button:hover {
    -fx-background-color: -fx-primary-dark;
}

.primary-button:pressed {
    -fx-background-color: -fx-primary-light;
}